/* PHASE 7: Online */
.online{
  position: absolute;
  padding: 5px 40px;
  color: white;
  transform: rotate(-45deg) translate(-40px, -25px);
  background-color: #00ff00;
  box-shadow: 30px black;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 3px;
  border: 1px solid black;
  text-shadow: 1px 1px black;
}

.profile-picture {
  overflow: hidden;
}